In [1]:
import os
os.chdir("../")
%pwd

'd:\\Machine_Learning\\Consignment-Pricing-Prediction'

In [35]:
import pandas as pd

df = pd.read_csv("artifacts\data_ingestion\SCMS_Delivery_History_Dataset.csv", usecols=[
    'Project Code', 'PQ #', 'Country', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'Weight (Kilograms)', 'Freight Cost (USD)', 'Line Item Insurance (USD)','Scheduled Delivery Date', 'Delivered to Client Date'])

# df = pd.read_csv('artifacts/data_ingestion/SCMS_Delivery_History_Dataset.csv', index_col=['ID', 'PO / SO #', 'ASN/DN #', 'Managed By', 'PO Sent to Vendor Date',
#        'First Line Designation'])

In [36]:
df.columns

Index(['Project Code', 'PQ #', 'Country', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [37]:
df.head()

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,...,Dosage Form,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,100-CI-T01,Pre-PQ Process,Côte d'Ivoire,Direct Drop,EXW,Air,Pre-PQ Process,2-Jun-06,2-Jun-06,2-Jun-06,...,Test kit,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,13,780.34,NaN
1,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,14-Nov-06,14-Nov-06,14-Nov-06,...,Oral suspension,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",358,4521.5,NaN
2,100-CI-T01,Pre-PQ Process,Côte d'Ivoire,Direct Drop,FCA,Air,Pre-PQ Process,27-Aug-06,27-Aug-06,27-Aug-06,...,Test kit,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,171,1653.78,NaN
3,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,1-Sep-06,1-Sep-06,1-Sep-06,...,Tablet,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",1855,16007.06,NaN
4,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,11-Aug-06,11-Aug-06,11-Aug-06,...,Capsule,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",7590,45450.08,NaN

In [38]:
df.dropna()

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,...,Dosage Form,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
21,104-CI-T01,Pre-PQ Process,Côte d'Ivoire,Direct Drop,CIP,Air,Pre-PQ Process,2-Oct-07,2-Oct-07,2-Oct-07,...,Tablet,60,5513,140581.50,25.50,0.42,"BMS Meymac, France",2126,Freight Included in Commodity Cost,224.93
22,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,15-Oct-07,15-Oct-07,15-Oct-07,...,Oral suspension,240,1000,1920.00,1.92,0.01,"Aurobindo Unit III, India",941,4193.49,3.07
23,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,FCA,Air,Pre-PQ Process,27-Aug-07,27-Aug-07,27-Aug-07,...,Tablet,120,500,41095.00,82.19,0.68,ABBVIE Ludwigshafen Germany,117,1767.38,65.75
29,117-ET-T01,Pre-PQ Process,Ethiopia,Direct Drop,EXW,Air,Pre-PQ Process,20-Nov-07,20-Nov-07,20-Nov-07,...,Capsule,60,64000,99200.00,1.55,0.03,"Aurobindo Unit III, India",4228,12237.61,158.72
32,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,21-Jan-08,21-Jan-08,21-Jan-08,...,Tablet,30,1000,17000.00,17.00,0.57,Gilead(Nycomed) Oranienburg DE,76,2282.57,27.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10319,103-ZW-T30,FPQ-15197,Zimbabwe,From RDC,N/A - From RDC,Truck,10/16/14,31-Jul-15,15-Jul-15,20-Jul-15,...,Chewable/dispersible tablet - FDC,60,166571,599655.60,3.60,0.06,"Mylan, H-12 & H-13, India",See DN-4307 (ID#:83920),See DN-4307 (ID#:83920),705.79
10320,104-CI-T30,FPQ-15259,Côte d'Ivoire,From RDC,N/A - From RDC,Truck,10/24/14,31-Jul-15,6-Aug-15,7-Aug-15,...,Tablet - FDC,60,21072,137389.44,6.52,0.11,Hetero Unit III Hyderabad IN,See DN-4313 (ID#:83921),See DN-4313 (ID#:83921),161.71
10321,110-ZM-T30,FPQ-14784,Zambia,From RDC,N/A - From RDC,Truck,8/12/14,31-Aug-15,25-Aug-15,3-Sep-15,...,Tablet - FDC,30,514526,5140114.74,9.99,0.33,Cipla Ltd A-42 MIDC Mahar. IN,Weight Captured Separately,Freight Included in Commodity Cost,5284.04
10322,200-ZW-T30,FPQ-16523,Zimbabwe,From RDC,N/A - From RDC,Truck,7/1/15,9-Sep-15,4-Aug-15,11-Aug-15,...,Tablet - FDC,60,17465,113871.80,6.52,0.11,Mylan (formerly Matrix) Nashik,1392,Freight Included in Commodity Cost,134.03
10323,103-ZW-T30,FPQ-15197,Zimbabwe,From RDC,N/A - From RDC,Truck,10/16/14,31-Aug-15,4-Aug-15,11-Aug-15,...,Chewable/dispersible tablet - FDC,60,36639,72911.61,1.99,0.03,"Cipla, Goa, India",Weight Captured Separately,Freight Included in Commodity Cost,85.82

In [39]:
import numpy as np
test_arr = pd.DataFrame(np.arange(10324))
test_arr

           0
0          0
1          1
2          2
3          3
4          4
...      ...
10319  10319
10320  10320
10321  10321
10322  10322
10323  10323

[10324 rows x 1 columns]

In [32]:
to_drop = []
for i in df['Freight Cost (USD)']:
    try:
        float(i)
    except:
        to_drop.append(i)

In [33]:
from sklearn.pipeline import FunctionTransformer, make_pipeline

pipeline = make_pipeline(
    # FunctionTransformer(
    #     lambda df: df.dropna(),
    # ),
    FunctionTransformer(   
        lambda df: df[df['Freight Cost (USD)'].isin(to_drop)==False]
        # lambda df: df.drop(columns=['ID','PO / SO #', 'ASN/DN #'], axis=1),
        # lambda df: df.drop(columns=['Managed By','First Line Designation'], axis=1), 
    ),
)
df = pipeline.transform(df)

In [34]:
df.shape

(6198, 27)

In [4]:
df.shape

(10324, 33)

           0
0          0
1          1
2          2
3          3
4          4
...      ...
10319  10319
10320  10320
10321  10321
10322  10322
10323  10323

[10324 rows x 1 columns]

In [6]:
df.insert(0,'test',test_arr)
# df.drop('test', inplace=True)
df.columns

Index(['test', 'ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #',
       'Country', 'Managed By', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'PO Sent to Vendor Date', 'Scheduled Delivery Date',
       'Delivered to Client Date', 'Delivery Recorded Date', 'Product Group',
       'Sub Classification', 'Vendor', 'Item Description',
       'Molecule/Test Type', 'Brand', 'Dosage', 'Dosage Form',
       'Unit of Measure (Per Pack)', 'Line Item Quantity', 'Line Item Value',
       'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [9]:
df.drop('test', inplace=True, axis=1)
df.columns

Index(['ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #', 'Country',
       'Managed By', 'Fulfill Via', 'Vendor INCO Term', 'Shipment Mode',
       'PQ First Sent to Client Date', 'PO Sent to Vendor Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [ ]:
df = pipeline.transform(df)

KeyError: "['ID', 'PO / SO #', 'ASN/DN #'] not found in axis"

In [ ]:
df.head()

,Project Code,PQ #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,PO Sent to Vendor Date,Scheduled Delivery Date,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
21,104-CI-T01,Pre-PQ Process,Côte d'Ivoire,PMO - US,Direct Drop,CIP,Air,Pre-PQ Process,7/13/07,2-Oct-07,...,60,5513,140581.5,25.50,0.42,"BMS Meymac, France",Yes,2126,Freight Included in Commodity Cost,224.93
22,108-VN-T01,Pre-PQ Process,Vietnam,PMO - US,Direct Drop,EXW,Air,Pre-PQ Process,7/4/07,15-Oct-07,...,240,1000,1920.0,1.92,0.01,"Aurobindo Unit III, India",Yes,941,4193.49,3.07
23,108-VN-T01,Pre-PQ Process,Vietnam,PMO - US,Direct Drop,FCA,Air,Pre-PQ Process,7/4/07,27-Aug-07,...,120,500,41095.0,82.19,0.68,ABBVIE Ludwigshafen Germany,Yes,117,1767.38,65.75
29,117-ET-T01,Pre-PQ Process,Ethiopia,PMO - US,Direct Drop,EXW,Air,Pre-PQ Process,10/3/07,20-Nov-07,...,60,64000,99200.0,1.55,0.03,"Aurobindo Unit III, India",Yes,4228,12237.61,158.72
32,108-VN-T01,Pre-PQ Process,Vietnam,PMO - US,Direct Drop,EXW,Air,Pre-PQ Process,11/19/07,21-Jan-08,...,30,1000,17000.0,17.00,0.57,Gilead(Nycomed) Oranienburg DE,Yes,76,2282.57,27.20

In [ ]:
df.shape

(8158, 30)

In [41]:
import os

In [47]:
for i,n in enumerate(os.listdir("src\ConsignmentPricingPrediction")):
    # print(i)
    if (i%2==0):
        print(i+1)
    print(n)

1
components
config
3
constants
entity
5
logging
pipeline
7
utils
__init__.py
9
__pycache__