In [1]:
import os
os.chdir("../")
%pwd

'd:\\Machine_Learning\\Consignment-Pricing-Prediction'

In [151]:
import pandas as pd

df = pd.read_csv("artifacts\data_ingestion\SCMS_Delivery_History_Dataset.csv", usecols=[
    'Project Code', 'PQ #', 'Country', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'Weight (Kilograms)', 'Freight Cost (USD)', 'Line Item Insurance (USD)','Scheduled Delivery Date', 'Delivered to Client Date'])

# df = pd.read_csv('artifacts/data_ingestion/SCMS_Delivery_History_Dataset.csv', index_col=['ID', 'PO / SO #', 'ASN/DN #', 'Managed By', 'PO Sent to Vendor Date',
#        'First Line Designation'])

In [123]:
df.columns

Index(['Project Code', 'PQ #', 'Country', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [4]:
df.head()

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,...,Dosage Form,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,100-CI-T01,Pre-PQ Process,Côte d'Ivoire,Direct Drop,EXW,Air,Pre-PQ Process,2-Jun-06,2-Jun-06,2-Jun-06,...,Test kit,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,13,780.34,NaN
1,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,14-Nov-06,14-Nov-06,14-Nov-06,...,Oral suspension,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",358,4521.5,NaN
2,100-CI-T01,Pre-PQ Process,Côte d'Ivoire,Direct Drop,FCA,Air,Pre-PQ Process,27-Aug-06,27-Aug-06,27-Aug-06,...,Test kit,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,171,1653.78,NaN
3,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,1-Sep-06,1-Sep-06,1-Sep-06,...,Tablet,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",1855,16007.06,NaN
4,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,11-Aug-06,11-Aug-06,11-Aug-06,...,Capsule,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",7590,45450.08,NaN

In [5]:
df.shape

(10324, 27)

In [6]:
# df =df.dropna()

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
import numpy as np
test_arr = pd.DataFrame(np.arange(10324))
test_arr

           0
0          0
1          1
2          2
3          3
4          4
...      ...
10319  10319
10320  10320
10321  10321
10322  10322
10323  10323

[10324 rows x 1 columns]

In [9]:
df.columns

Index(['Project Code', 'PQ #', 'Country', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [10]:
to_drop= []
for i in df['Freight Cost (USD)']:
    try:
        float(i)
    except:
        to_drop.append(i)

In [11]:
df.shape

(10324, 27)

In [12]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, random_state=42, test_size=0.2)
train.shape, test.shape

((8259, 27), (2065, 27))

In [124]:
from sklearn.pipeline import FunctionTransformer, make_pipeline
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

def transform_dataset(testDF: pd.DataFrame):
    # Droping the na values from the dataframe
    testDF=testDF.dropna()

    # Checking the object values in the Weight Column
    to_drop_weight= []
    for i in testDF['Weight (Kilograms)']: 
        try:
            float(i)
        except:
            to_drop_weight.append(i)
    # Dropping the object values from the Weight Column
    testDF = testDF[testDF['Weight (Kilograms)'].isin(to_drop_weight)==False]

    # Checking the object values in the Freight Column
    to_drop= []
    for i in testDF['Freight Cost (USD)']:
        try:
            float(i)
        except:
            to_drop.append(i)        
    # Dropping the object values from the Freight Column
    testDF = testDF[testDF['Freight Cost (USD)'].isin(to_drop)==False]

    # Splitting the scheduled Delivery date column to three respective columns storing the date, month and year
    testDF['Scheduled_Delivery_Date_D'] = [i.split('-')[0] for i in testDF['Scheduled Delivery Date']]
    testDF['Scheduled_Delivery_Date_M'] = [i.split('-')[1] for i in testDF['Scheduled Delivery Date']]
    testDF['Scheduled_Delivery_Date_Y'] = [i.split('-')[2] for i in testDF['Scheduled Delivery Date']]

    # Splitting the delivered to client date column to three respective columns storing the date, month and year
    testDF['Delivered_to_Client_Date_D'] = [i.split('-')[0] for i in testDF['Delivered to Client Date']]
    testDF['Delivered_to_Client_Date_M'] = [i.split('-')[1] for i in testDF['Delivered to Client Date']]
    testDF['Delivered_to_Client_Date_Y'] = [i.split('-')[2] for i in testDF['Delivered to Client Date']]

    # Dropping the scheduled delivery date column and the client date column
    testDF = testDF.drop(columns=['Delivered to Client Date', 'Scheduled Delivery Date'], axis= 1)

    # Changing the datatype of the columns
    testDF['Weight (Kilograms)'] = testDF['Weight (Kilograms)'].astype(float)
    testDF['Freight Cost (USD)'] = testDF['Freight Cost (USD)'].astype(float)
    testDF['Scheduled_Delivery_Date_D'] = testDF['Scheduled_Delivery_Date_D'].astype(float)
    testDF['Scheduled_Delivery_Date_Y'] = testDF['Scheduled_Delivery_Date_Y'].astype(float)
    testDF['Delivered_to_Client_Date_D'] = testDF['Delivered_to_Client_Date_D'].astype(float)
    testDF['Delivered_to_Client_Date_Y'] = testDF['Delivered_to_Client_Date_Y'].astype(float)

    # Encoding the categorical columns
    # testDF = testDF.apply(LabelEncoder.fit_transform)

    # # Splitting the dataset
    # y = testDF['Freight Cost (USD)']
    # x = testDF.drop('Freight Cost (USD)', axis=1)

    # x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

    # StandardScaler.fit_transform(testDF)
    
    return testDF

pipeline1 = make_pipeline(
    FunctionTransformer(transform_dataset),
    # FunctionTransformer(LabelEncoder.transform),
    # FunctionTransformer(StandardScaler.transform)
    )


# from sklearn.pipeline import Pipeline

# pipeline2 = Pipeline(
    
#     FunctionTransformer(LabelEncoder()),
#     FunctionTransformer(StandardScaler()),
#         # ,
#         # StandardScaler()
# )

In [42]:
pipe = pipeline1
df = pipe.fit_transform(df)
# df =pipeline2.fit_transform(df)

KeyError: 'Scheduled Delivery Date'

In [93]:
df.shape

(4571, 31)

In [92]:
import pickle
obj = pipeline
with open('ptahia.pkl', 'wb') as file:
            pickle.dump(obj, file)

NameError: name 'pipeline' is not defined

In [237]:

import pickle 
loaded_preprocessor = None
with open('ptahia.pkl', 'rb') as file:
    loaded_preprocessor =pickle.load(file)
df = loaded_preprocessor.transform(df)

In [238]:
df.shape

(4571, 27)

In [97]:
df

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,...,Dosage Form,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,100-CI-T01,Pre-PQ Process,Côte d'Ivoire,Direct Drop,EXW,Air,Pre-PQ Process,2-Jun-06,2-Jun-06,2-Jun-06,...,Test kit,30,19,551.00,29.00,0.97,Ranbaxy Fine Chemicals LTD,13,780.34,NaN
1,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,14-Nov-06,14-Nov-06,14-Nov-06,...,Oral suspension,240,1000,6200.00,6.20,0.03,"Aurobindo Unit III, India",358,4521.5,NaN
2,100-CI-T01,Pre-PQ Process,Côte d'Ivoire,Direct Drop,FCA,Air,Pre-PQ Process,27-Aug-06,27-Aug-06,27-Aug-06,...,Test kit,100,500,40000.00,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,171,1653.78,NaN
3,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,1-Sep-06,1-Sep-06,1-Sep-06,...,Tablet,60,31920,127360.80,3.99,0.07,"Ranbaxy, Paonta Shahib, India",1855,16007.06,NaN
4,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,11-Aug-06,11-Aug-06,11-Aug-06,...,Capsule,60,38000,121600.00,3.20,0.05,"Aurobindo Unit III, India",7590,45450.08,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10319,103-ZW-T30,FPQ-15197,Zimbabwe,From RDC,N/A - From RDC,Truck,10/16/14,31-Jul-15,15-Jul-15,20-Jul-15,...,Chewable/dispersible tablet - FDC,60,166571,599655.60,3.60,0.06,"Mylan, H-12 & H-13, India",See DN-4307 (ID#:83920),See DN-4307 (ID#:83920),705.79
10320,104-CI-T30,FPQ-15259,Côte d'Ivoire,From RDC,N/A - From RDC,Truck,10/24/14,31-Jul-15,6-Aug-15,7-Aug-15,...,Tablet - FDC,60,21072,137389.44,6.52,0.11,Hetero Unit III Hyderabad IN,See DN-4313 (ID#:83921),See DN-4313 (ID#:83921),161.71
10321,110-ZM-T30,FPQ-14784,Zambia,From RDC,N/A - From RDC,Truck,8/12/14,31-Aug-15,25-Aug-15,3-Sep-15,...,Tablet - FDC,30,514526,5140114.74,9.99,0.33,Cipla Ltd A-42 MIDC Mahar. IN,Weight Captured Separately,Freight Included in Commodity Cost,5284.04
10322,200-ZW-T30,FPQ-16523,Zimbabwe,From RDC,N/A - From RDC,Truck,7/1/15,9-Sep-15,4-Aug-15,11-Aug-15,...,Tablet - FDC,60,17465,113871.80,6.52,0.11,Mylan (formerly Matrix) Nashik,1392,Freight Included in Commodity Cost,134.03
10323,103-ZW-T30,FPQ-15197,Zimbabwe,From RDC,N/A - From RDC,Truck,10/16/14,31-Aug-15,4-Aug-15,11-Aug-15,...,Chewable/dispersible tablet - FDC,60,36639,72911.61,1.99,0.03,"Cipla, Goa, India",Weight Captured Separately,Freight Included in Commodity Cost,85.82

In [144]:
le = LabelEncoder()
df = df.apply(le.fit_transform)

In [145]:
df

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Delivery Recorded Date,Product Group,Sub Classification,...,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD),Scheduled_Delivery_Date_D,Scheduled_Delivery_Date_M,Scheduled_Delivery_Date_Y,Delivered_to_Client_Date_D,Delivered_to_Client_Date_M,Delivered_to_Client_Date_Y
22,34,814,28,0,4,0,546,354,2,3,...,5,747,1627,222,14,10,0,14,10,0
23,34,814,28,0,5,0,546,981,2,1,...,3,116,796,1591,26,1,0,26,1,0
29,49,814,9,0,4,0,546,657,2,1,...,5,1833,2855,2232,19,9,0,19,9,0
32,34,814,28,0,4,0,546,690,2,1,...,18,75,1020,1041,20,4,1,20,4,1
33,34,814,28,0,4,0,546,690,2,1,...,44,22,962,349,20,4,1,20,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,41,359,17,1,6,3,77,340,2,1,...,22,2876,3558,3869,28,8,8,8,6,8
10306,41,350,17,1,6,3,483,340,2,1,...,23,1015,732,1686,28,8,8,14,6,8
10310,47,369,27,1,6,3,145,340,2,3,...,38,1301,1506,1699,29,6,8,3,6,8
10315,61,353,19,1,6,1,523,766,2,1,...,3,2671,3519,3700,29,6,8,14,8,8
10316,61,403,19,1,6,1,363,766,2,1,...,5,1025,1383,1983,1,6,8,14,8,8

In [146]:
import pickle
obj = le
with open('labelEncoder.pkl', 'wb') as file:
            pickle.dump(obj, file)

In [147]:
df

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Delivery Recorded Date,Product Group,Sub Classification,...,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD),Scheduled_Delivery_Date_D,Scheduled_Delivery_Date_M,Scheduled_Delivery_Date_Y,Delivered_to_Client_Date_D,Delivered_to_Client_Date_M,Delivered_to_Client_Date_Y
22,34,814,28,0,4,0,546,354,2,3,...,5,747,1627,222,14,10,0,14,10,0
23,34,814,28,0,5,0,546,981,2,1,...,3,116,796,1591,26,1,0,26,1,0
29,49,814,9,0,4,0,546,657,2,1,...,5,1833,2855,2232,19,9,0,19,9,0
32,34,814,28,0,4,0,546,690,2,1,...,18,75,1020,1041,20,4,1,20,4,1
33,34,814,28,0,4,0,546,690,2,1,...,44,22,962,349,20,4,1,20,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,41,359,17,1,6,3,77,340,2,1,...,22,2876,3558,3869,28,8,8,8,6,8
10306,41,350,17,1,6,3,483,340,2,1,...,23,1015,732,1686,28,8,8,14,6,8
10310,47,369,27,1,6,3,145,340,2,3,...,38,1301,1506,1699,29,6,8,3,6,8
10315,61,353,19,1,6,1,523,766,2,1,...,3,2671,3519,3700,29,6,8,14,8,8
10316,61,403,19,1,6,1,363,766,2,1,...,5,1025,1383,1983,1,6,8,14,8,8

In [148]:
df

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Delivery Recorded Date,Product Group,Sub Classification,...,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD),Scheduled_Delivery_Date_D,Scheduled_Delivery_Date_M,Scheduled_Delivery_Date_Y,Delivered_to_Client_Date_D,Delivered_to_Client_Date_M,Delivered_to_Client_Date_Y
22,34,814,28,0,4,0,546,354,2,3,...,5,747,1627,222,14,10,0,14,10,0
23,34,814,28,0,5,0,546,981,2,1,...,3,116,796,1591,26,1,0,26,1,0
29,49,814,9,0,4,0,546,657,2,1,...,5,1833,2855,2232,19,9,0,19,9,0
32,34,814,28,0,4,0,546,690,2,1,...,18,75,1020,1041,20,4,1,20,4,1
33,34,814,28,0,4,0,546,690,2,1,...,44,22,962,349,20,4,1,20,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,41,359,17,1,6,3,77,340,2,1,...,22,2876,3558,3869,28,8,8,8,6,8
10306,41,350,17,1,6,3,483,340,2,1,...,23,1015,732,1686,28,8,8,14,6,8
10310,47,369,27,1,6,3,145,340,2,3,...,38,1301,1506,1699,29,6,8,3,6,8
10315,61,353,19,1,6,1,523,766,2,1,...,3,2671,3519,3700,29,6,8,14,8,8
10316,61,403,19,1,6,1,363,766,2,1,...,5,1025,1383,1983,1,6,8,14,8,8

In [152]:
import pickle 
loaded_preprocessor = None
with open('labelEncoder.pkl', 'rb') as file:
    loaded_preprocessor =pickle.load(file)
df = transform_dataset(df)
# df['Project Code'] = loaded_preprocessor.transform(df['Project Code'])
# type(loaded_preprocessor)
df = df.apply(loaded_preprocessor.transform)

ValueError: invalid literal for int() with base 10: '108-VN-T01'

In [141]:
df

,Project Code,PQ #,Country,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,Delivery Recorded Date,Product Group,Sub Classification,...,Manufacturing Site,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD),Scheduled_Delivery_Date_D,Scheduled_Delivery_Date_M,Scheduled_Delivery_Date_Y,Delivered_to_Client_Date_D,Delivered_to_Client_Date_M,Delivered_to_Client_Date_Y
22,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,15-Oct-07,ARV,Pediatric,...,"Aurobindo Unit III, India",941.0,4193.49,3.07,15.0,Oct,7.0,15.0,Oct,7.0
23,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,FCA,Air,Pre-PQ Process,27-Aug-07,ARV,Adult,...,ABBVIE Ludwigshafen Germany,117.0,1767.38,65.75,27.0,Aug,7.0,27.0,Aug,7.0
29,117-ET-T01,Pre-PQ Process,Ethiopia,Direct Drop,EXW,Air,Pre-PQ Process,20-Nov-07,ARV,Adult,...,"Aurobindo Unit III, India",4228.0,12237.61,158.72,20.0,Nov,7.0,20.0,Nov,7.0
32,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,21-Jan-08,ARV,Adult,...,Gilead(Nycomed) Oranienburg DE,76.0,2282.57,27.20,21.0,Jan,8.0,21.0,Jan,8.0
33,108-VN-T01,Pre-PQ Process,Vietnam,Direct Drop,EXW,Air,Pre-PQ Process,21-Jan-08,ARV,Adult,...,"Ranbaxy, Paonta Shahib, India",23.0,2149.05,5.36,21.0,Jan,8.0,21.0,Jan,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,111-MZ-T30,FPQ-15195,Mozambique,From RDC,N/A - From RDC,Truck,10/17/14,15-Jun-15,ARV,Adult,...,Hetero Unit III Hyderabad IN,39688.0,28277.42,2725.93,29.0,May,15.0,9.0,Jun,15.0
10306,111-MZ-T30,FPQ-14843,Mozambique,From RDC,N/A - From RDC,Truck,8/21/14,15-Jun-15,ARV,Adult,...,"Hetero, Jadcherla, unit 5, IN",1504.0,1653.90,75.52,29.0,May,15.0,15.0,Jun,15.0
10310,114-UG-T30,FPQ-15294,Uganda,From RDC,N/A - From RDC,Truck,11/3/14,15-Jun-15,ARV,Pediatric,...,Mylan (formerly Matrix) Nashik,2253.0,3785.72,76.27,30.0,Jun,15.0,4.0,Jun,15.0
10315,151-NG-T30,FPQ-14989,Nigeria,From RDC,N/A - From RDC,Air Charter,9/19/14,22-May-15,ARV,Adult,...,ABBVIE Ludwigshafen Germany,15198.0,26180.00,1341.33,30.0,Jun,15.0,15.0,May,15.0
10316,151-NG-T30,FPQ-16313,Nigeria,From RDC,N/A - From RDC,Air Charter,5/4/15,22-May-15,ARV,Adult,...,"Aurobindo Unit III, India",1547.0,3410.00,115.11,2.0,Jun,15.0,15.0,May,15.0

In [109]:
test = {
    'df': [1,11,1,11,1,1,1,1,1],
    'df2': [2,22,2,22,2,2,np.NAN,2,2],
    'df3': [3,33,3,33,3,np.NAN,3,3,3],
    'df4': [4,44,4,np.NAN,4,4,4,4,4],
}
test_df = pd.DataFrame(test)
test_df
# test_df.dropna(inplace=True)

   df   df2   df3   df4
0   1   2.0   3.0   4.0
1  11  22.0  33.0  44.0
2   1   2.0   3.0   4.0
3  11  22.0  33.0   NaN
4   1   2.0   3.0   4.0
5   1   2.0   NaN   4.0
6   1   NaN   3.0   4.0
7   1   2.0   3.0   4.0
8   1   2.0   3.0   4.0

In [110]:
pipeline.transform(test_df)
test_df

   df   df2   df3   df4
0   1   2.0   3.0   4.0
1  11  22.0  33.0  44.0
2   1   2.0   3.0   4.0
4   1   2.0   3.0   4.0
7   1   2.0   3.0   4.0
8   1   2.0   3.0   4.0

NoneType

In [94]:
test_arr.shape

(10324, 1)

In [92]:
df.shape

(8158, 27)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6198 entries, 0 to 10316
Data columns (total 27 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Project Code                  6198 non-null   object
 1   PQ #                          6198 non-null   object
 2   Country                       6198 non-null   object
 3   Fulfill Via                   6198 non-null   object
 4   Vendor INCO Term              6198 non-null   object
 5   Shipment Mode                 5987 non-null   object
 6   PQ First Sent to Client Date  6198 non-null   object
 7   Scheduled Delivery Date       6198 non-null   object
 8   Delivered to Client Date      6198 non-null   object
 9   Delivery Recorded Date        6198 non-null   object
 10  Product Group                 6198 non-null   object
 11  Sub Classification            6198 non-null   object
 12  Vendor                        6198 non-null   object
 13  Item Description              6198 non-null   object
 14  Molecule/Test Type            6198 non-null   object
 15  Brand                         6198 non-null   object
 16  Dosage                        4822 non-null   object
 17  Dosage Form                   6198 non-null   object
 18  Unit of Measure (Per Pack)    6198 non-null   int64
 19  Line Item Quantity            6198 non-null   int64
 20  Line Item Value               6198 non-null   float64
 21  Pack Price                    6198 non-null   float64
 22  Unit Price                    6198 non-null   float64
 23  Manufacturing Site            6198 non-null   object
 24  Weight (Kilograms)            6198 non-null   object
 25  Freight Cost (USD)            6198 non-null   object
 26  Line Item Insurance (USD)     6006 non-null   float64
dtypes: float64(4), int64(2), object(21)
memory usage: 1.3+ MB

           0
0          0
1          1
2          2
3          3
4          4
...      ...
10319  10319
10320  10320
10321  10321
10322  10322
10323  10323

[10324 rows x 1 columns]

In [6]:
df.insert(0,'test',test_arr)
# df.drop('test', inplace=True)
df.columns

Index(['test', 'ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #',
       'Country', 'Managed By', 'Fulfill Via', 'Vendor INCO Term',
       'Shipment Mode', 'PQ First Sent to Client Date',
       'PO Sent to Vendor Date', 'Scheduled Delivery Date',
       'Delivered to Client Date', 'Delivery Recorded Date', 'Product Group',
       'Sub Classification', 'Vendor', 'Item Description',
       'Molecule/Test Type', 'Brand', 'Dosage', 'Dosage Form',
       'Unit of Measure (Per Pack)', 'Line Item Quantity', 'Line Item Value',
       'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [9]:
df.drop('test', inplace=True, axis=1)
df.columns

Index(['ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #', 'Country',
       'Managed By', 'Fulfill Via', 'Vendor INCO Term', 'Shipment Mode',
       'PQ First Sent to Client Date', 'PO Sent to Vendor Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [ ]:
df = pipeline.transform(df)

KeyError: "['ID', 'PO / SO #', 'ASN/DN #'] not found in axis"

In [ ]:
df.head()

,Project Code,PQ #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,PO Sent to Vendor Date,Scheduled Delivery Date,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
21,104-CI-T01,Pre-PQ Process,Côte d'Ivoire,PMO - US,Direct Drop,CIP,Air,Pre-PQ Process,7/13/07,2-Oct-07,...,60,5513,140581.5,25.50,0.42,"BMS Meymac, France",Yes,2126,Freight Included in Commodity Cost,224.93
22,108-VN-T01,Pre-PQ Process,Vietnam,PMO - US,Direct Drop,EXW,Air,Pre-PQ Process,7/4/07,15-Oct-07,...,240,1000,1920.0,1.92,0.01,"Aurobindo Unit III, India",Yes,941,4193.49,3.07
23,108-VN-T01,Pre-PQ Process,Vietnam,PMO - US,Direct Drop,FCA,Air,Pre-PQ Process,7/4/07,27-Aug-07,...,120,500,41095.0,82.19,0.68,ABBVIE Ludwigshafen Germany,Yes,117,1767.38,65.75
29,117-ET-T01,Pre-PQ Process,Ethiopia,PMO - US,Direct Drop,EXW,Air,Pre-PQ Process,10/3/07,20-Nov-07,...,60,64000,99200.0,1.55,0.03,"Aurobindo Unit III, India",Yes,4228,12237.61,158.72
32,108-VN-T01,Pre-PQ Process,Vietnam,PMO - US,Direct Drop,EXW,Air,Pre-PQ Process,11/19/07,21-Jan-08,...,30,1000,17000.0,17.00,0.57,Gilead(Nycomed) Oranienburg DE,Yes,76,2282.57,27.20

In [ ]:
df.shape

(8158, 30)

In [41]:
import os

In [1]:
df.head()

NameError: name 'df' is not defined