In [1]:
import os
os.chdir('../')
%pwd

'd:\\Machine_Learning\\Consignment-Pricing-Prediction'

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("artifacts\data_ingestion\SCMS_Delivery_History_Dataset.csv")
df.head()

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode,...,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Manufacturing Site,First Line Designation,Weight (Kilograms),Freight Cost (USD),Line Item Insurance (USD)
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,30,19,551.0,29.00,0.97,Ranbaxy Fine Chemicals LTD,Yes,13,780.34,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,240,1000,6200.0,6.20,0.03,"Aurobindo Unit III, India",Yes,358,4521.5,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,100,500,40000.0,80.00,0.80,ABBVIE GmbH & Co.KG Wiesbaden,Yes,171,1653.78,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",Yes,1855,16007.06,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,60,38000,121600.0,3.20,0.05,"Aurobindo Unit III, India",Yes,7590,45450.08,NaN

In [4]:
df.columns

Index(['ID', 'Project Code', 'PQ #', 'PO / SO #', 'ASN/DN #', 'Country',
       'Managed By', 'Fulfill Via', 'Vendor INCO Term', 'Shipment Mode',
       'PQ First Sent to Client Date', 'PO Sent to Vendor Date',
       'Scheduled Delivery Date', 'Delivered to Client Date',
       'Delivery Recorded Date', 'Product Group', 'Sub Classification',
       'Vendor', 'Item Description', 'Molecule/Test Type', 'Brand', 'Dosage',
       'Dosage Form', 'Unit of Measure (Per Pack)', 'Line Item Quantity',
       'Line Item Value', 'Pack Price', 'Unit Price', 'Manufacturing Site',
       'First Line Designation', 'Weight (Kilograms)', 'Freight Cost (USD)',
       'Line Item Insurance (USD)'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10324 entries, 0 to 10323
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            10324 non-null  int64
 1   Project Code                  10324 non-null  object
 2   PQ #                          10324 non-null  object
 3   PO / SO #                     10324 non-null  object
 4   ASN/DN #                      10324 non-null  object
 5   Country                       10324 non-null  object
 6   Managed By                    10324 non-null  object
 7   Fulfill Via                   10324 non-null  object
 8   Vendor INCO Term              10324 non-null  object
 9   Shipment Mode                 9964 non-null   object
 10  PQ First Sent to Client Date  10324 non-null  object
 11  PO Sent to Vendor Date        10324 non-null  object
 12  Scheduled Delivery Date       10324 non-null  object
 13  Delivered to Client Date      10324 non-null  object
 14  Delivery Recorded Date        10324 non-null  object
 15  Product Group                 10324 non-null  object
 16  Sub Classification            10324 non-null  object
 17  Vendor                        10324 non-null  object
 18  Item Description              10324 non-null  object
 19  Molecule/Test Type            10324 non-null  object
 20  Brand                         10324 non-null  object
 21  Dosage                        8588 non-null   object
 22  Dosage Form                   10324 non-null  object
 23  Unit of Measure (Per Pack)    10324 non-null  int64
 24  Line Item Quantity            10324 non-null  int64
 25  Line Item Value               10324 non-null  float64
 26  Pack Price                    10324 non-null  float64
 27  Unit Price                    10324 non-null  float64
 28  Manufacturing Site            10324 non-null  object
 29  First Line Designation        10324 non-null  object
 30  Weight (Kilograms)            10324 non-null  object
 31  Freight Cost (USD)            10324 non-null  object
 32  Line Item Insurance (USD)     10037 non-null  float64
dtypes: float64(4), int64(3), object(26)
memory usage: 2.6+ MB

In [6]:
df.describe()

,ID,Unit of Measure (Per Pack),Line Item Quantity,Line Item Value,Pack Price,Unit Price,Line Item Insurance (USD)
count,10324.000000,10324.000000,10324.000000,1.032400e+04,10324.000000,10324.000000,10037.000000
mean,51098.968229,77.990895,18332.534870,1.576506e+05,21.910241,0.611701,240.117626
std,31944.332496,76.579764,40035.302961,3.452921e+05,45.609223,3.275808,500.190568
min,1.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,12795.750000,30.000000,408.000000,4.314593e+03,4.120000,0.080000,6.510000
50%,57540.500000,60.000000,3000.000000,3.047147e+04,9.300000,0.160000,47.040000
75%,83648.250000,90.000000,17039.750000,1.664471e+05,23.592500,0.470000,252.400000
max,86823.000000,1000.000000,619999.000000,5.951990e+06,1345.640000,238.650000,7708.440000

In [7]:
df.nunique()[:10]

ID                  10324
Project Code          142
PQ #                 1237
PO / SO #            6233
ASN/DN #             7030
Country                43
Managed By              4
Fulfill Via             2
Vendor INCO Term        8
Shipment Mode           4
dtype: int64

In [8]:
df[df.columns[:10]].head()

,ID,Project Code,PQ #,PO / SO #,ASN/DN #,Country,Managed By,Fulfill Via,Vendor INCO Term,Shipment Mode
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air

In [9]:
df.isnull().sum()[:10]

ID                    0
Project Code          0
PQ #                  0
PO / SO #             0
ASN/DN #              0
Country               0
Managed By            0
Fulfill Via           0
Vendor INCO Term      0
Shipment Mode       360
dtype: int64

In [10]:
df.nunique()[:10].sum

<bound method Series.sum of ID                  10324
Project Code          142
PQ #                 1237
PO / SO #            6233
ASN/DN #             7030
Country                43
Managed By              4
Fulfill Via             2
Vendor INCO Term        8
Shipment Mode           4
dtype: int64>

In [11]:
Columns_to_keep = ['Project Code', 'PQ #', 'Country', 'Managed By', 'Fulfill Via','Vendor INCO Term','Shipment Mode','PQ First Sent to Client Date']

In [12]:
df[df.columns[8:18]].head()

,Vendor INCO Term,Shipment Mode,PQ First Sent to Client Date,PO Sent to Vendor Date,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,Product Group,Sub Classification,Vendor
0,EXW,Air,Pre-PQ Process,Date Not Captured,2-Jun-06,2-Jun-06,2-Jun-06,HRDT,HIV test,RANBAXY Fine Chemicals LTD.
1,EXW,Air,Pre-PQ Process,Date Not Captured,14-Nov-06,14-Nov-06,14-Nov-06,ARV,Pediatric,Aurobindo Pharma Limited
2,FCA,Air,Pre-PQ Process,Date Not Captured,27-Aug-06,27-Aug-06,27-Aug-06,HRDT,HIV test,Abbott GmbH & Co. KG
3,EXW,Air,Pre-PQ Process,Date Not Captured,1-Sep-06,1-Sep-06,1-Sep-06,ARV,Adult,SUN PHARMACEUTICAL INDUSTRIES LTD (RANBAXY LAB...
4,EXW,Air,Pre-PQ Process,Date Not Captured,11-Aug-06,11-Aug-06,11-Aug-06,ARV,Adult,Aurobindo Pharma Limited

In [13]:
df= df.dropna()

In [14]:
df.shape

(8158, 33)

In [15]:
df.nunique()

ID                              8158
Project Code                      90
PQ #                             877
PO / SO #                       4750
ASN/DN #                        5242
Country                           34
Managed By                         2
Fulfill Via                        2
Vendor INCO Term                   7
Shipment Mode                      4
PQ First Sent to Client Date     581
PO Sent to Vendor Date           565
Scheduled Delivery Date         1630
Delivered to Client Date        1743
Delivery Recorded Date          1676
Product Group                      3
Sub Classification                 4
Vendor                            42
Item Description                 136
Molecule/Test Type                41
Brand                             25
Dosage                            53
Dosage Form                       15
Unit of Measure (Per Pack)        21
Line Item Quantity              4487
Line Item Value                 7404
Pack Price                      1042
Unit Price                       129
Manufacturing Site                60
First Line Designation             2
Weight (Kilograms)              4105
Freight Cost (USD)              5019
Line Item Insurance (USD)       5769
dtype: int64

In [16]:
df.drop('ID', inplace=True, axis=1)
df.drop(columns=['ASN/DN #','PO / SO #'], inplace=True, axis=1)

In [17]:
df.shape

(8158, 30)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8158 entries, 21 to 10323
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Project Code                  8158 non-null   object
 1   PQ #                          8158 non-null   object
 2   Country                       8158 non-null   object
 3   Managed By                    8158 non-null   object
 4   Fulfill Via                   8158 non-null   object
 5   Vendor INCO Term              8158 non-null   object
 6   Shipment Mode                 8158 non-null   object
 7   PQ First Sent to Client Date  8158 non-null   object
 8   PO Sent to Vendor Date        8158 non-null   object
 9   Scheduled Delivery Date       8158 non-null   object
 10  Delivered to Client Date      8158 non-null   object
 11  Delivery Recorded Date        8158 non-null   object
 12  Product Group                 8158 non-null   object
 13  Sub Classification            8158 non-null   object
 14  Vendor                        8158 non-null   object
 15  Item Description              8158 non-null   object
 16  Molecule/Test Type            8158 non-null   object
 17  Brand                         8158 non-null   object
 18  Dosage                        8158 non-null   object
 19  Dosage Form                   8158 non-null   object
 20  Unit of Measure (Per Pack)    8158 non-null   int64
 21  Line Item Quantity            8158 non-null   int64
 22  Line Item Value               8158 non-null   float64
 23  Pack Price                    8158 non-null   float64
 24  Unit Price                    8158 non-null   float64
 25  Manufacturing Site            8158 non-null   object
 26  First Line Designation        8158 non-null   object
 27  Weight (Kilograms)            8158 non-null   object
 28  Freight Cost (USD)            8158 non-null   object
 29  Line Item Insurance (USD)     8158 non-null   float64
dtypes: float64(4), int64(2), object(24)
memory usage: 1.9+ MB

In [19]:
df[df.columns[8:18]].nunique()

PO Sent to Vendor Date       565
Scheduled Delivery Date     1630
Delivered to Client Date    1743
Delivery Recorded Date      1676
Product Group                  3
Sub Classification             4
Vendor                        42
Item Description             136
Molecule/Test Type            41
Brand                         25
dtype: int64

In [20]:
df[df.columns[8:18]].head()

,PO Sent to Vendor Date,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,Product Group,Sub Classification,Vendor,Item Description,Molecule/Test Type,Brand
21,7/13/07,2-Oct-07,2-Oct-07,2-Oct-07,ARV,Pediatric,BRISTOL-MYERS SQUIBB,"#102198**Didanosine 200mg [Videx], tablets, 60...",Didanosine,Videx
22,7/4/07,15-Oct-07,15-Oct-07,15-Oct-07,ARV,Pediatric,Aurobindo Pharma Limited,"Nevirapine 10mg/ml, oral suspension, Bottle, 2...",Nevirapine,Generic
23,7/4/07,27-Aug-07,27-Aug-07,27-Aug-07,ARV,Adult,ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV),"Lopinavir/Ritonavir 200/50mg [Aluvia], tablets...",Lopinavir/Ritonavir,Aluvia
29,10/3/07,20-Nov-07,20-Nov-07,20-Nov-07,ARV,Adult,Aurobindo Pharma Limited,"Stavudine 30mg, capsules, 60 Caps",Stavudine,Generic
32,11/19/07,21-Jan-08,21-Jan-08,21-Jan-08,ARV,Adult,"GILEAD SCIENCES IRELAND, INC.","Tenofovir Disoproxil Fumarate 300mg [Viread], ...",Tenofovir Disoproxil Fumarate,Viread

In [21]:
df['PO Sent to Vendor Date'].value_counts()

PO Sent to Vendor Date
N/A - From RDC       4905
Date Not Captured     225
3/19/10                78
8/29/14                76
10/9/14                69
                     ...
1/7/11                  1
4/4/11                  1
4/20/12                 1
12/9/13                 1
8/29/12                 1
Name: count, Length: 565, dtype: int64

In [22]:
df.drop('PO Sent to Vendor Date', inplace=True, axis=1)

In [23]:
df[df.columns[8:18]].nunique()

Scheduled Delivery Date     1630
Delivered to Client Date    1743
Delivery Recorded Date      1676
Product Group                  3
Sub Classification             4
Vendor                        42
Item Description             136
Molecule/Test Type            41
Brand                         25
Dosage                        53
dtype: int64

In [24]:
df['Scheduled Delivery Date'].isna().sum()
Columns_to_keep.append('Scheduled Delivery Date')

In [25]:
df['Delivered to Client Date'].isnull().sum()

0

In [26]:
df['Delivered to Client Date'].unique()
Columns_to_keep.append('Delivered to Client Date')

In [27]:
df['Delivery Recorded Date'].unique()

array(['2-Oct-07', '15-Oct-07', '27-Aug-07', ..., '29-Mar-13', '7-Dec-13',
       '8-May-15'], dtype=object)

In [28]:
df['Delivery Recorded Date'].isna().sum()
Columns_to_keep.append('Delivery Recorded Date')

In [29]:
df[df.columns[8:18]].nunique()

Scheduled Delivery Date     1630
Delivered to Client Date    1743
Delivery Recorded Date      1676
Product Group                  3
Sub Classification             4
Vendor                        42
Item Description             136
Molecule/Test Type            41
Brand                         25
Dosage                        53
dtype: int64

In [30]:
df[df.columns[8:18]].head()

,Scheduled Delivery Date,Delivered to Client Date,Delivery Recorded Date,Product Group,Sub Classification,Vendor,Item Description,Molecule/Test Type,Brand,Dosage
21,2-Oct-07,2-Oct-07,2-Oct-07,ARV,Pediatric,BRISTOL-MYERS SQUIBB,"#102198**Didanosine 200mg [Videx], tablets, 60...",Didanosine,Videx,200mg
22,15-Oct-07,15-Oct-07,15-Oct-07,ARV,Pediatric,Aurobindo Pharma Limited,"Nevirapine 10mg/ml, oral suspension, Bottle, 2...",Nevirapine,Generic,10mg/ml
23,27-Aug-07,27-Aug-07,27-Aug-07,ARV,Adult,ABBVIE LOGISTICS (FORMERLY ABBOTT LOGISTICS BV),"Lopinavir/Ritonavir 200/50mg [Aluvia], tablets...",Lopinavir/Ritonavir,Aluvia,200/50mg
29,20-Nov-07,20-Nov-07,20-Nov-07,ARV,Adult,Aurobindo Pharma Limited,"Stavudine 30mg, capsules, 60 Caps",Stavudine,Generic,30mg
32,21-Jan-08,21-Jan-08,21-Jan-08,ARV,Adult,"GILEAD SCIENCES IRELAND, INC.","Tenofovir Disoproxil Fumarate 300mg [Viread], ...",Tenofovir Disoproxil Fumarate,Viread,300mg

In [31]:
df[df.columns[18:28]].nunique()

Dosage Form                     15
Unit of Measure (Per Pack)      21
Line Item Quantity            4487
Line Item Value               7404
Pack Price                    1042
Unit Price                     129
Manufacturing Site              60
First Line Designation           2
Weight (Kilograms)            4105
Freight Cost (USD)            5019
dtype: int64

In [32]:
df[df.columns[18:28]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 8158 entries, 21 to 10323
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Dosage Form                 8158 non-null   object
 1   Unit of Measure (Per Pack)  8158 non-null   int64
 2   Line Item Quantity          8158 non-null   int64
 3   Line Item Value             8158 non-null   float64
 4   Pack Price                  8158 non-null   float64
 5   Unit Price                  8158 non-null   float64
 6   Manufacturing Site          8158 non-null   object
 7   First Line Designation      8158 non-null   object
 8   Weight (Kilograms)          8158 non-null   object
 9   Freight Cost (USD)          8158 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 701.1+ KB

In [33]:
df['Dosage Form'].unique()

array(['Tablet', 'Oral suspension', 'Capsule', 'Powder for oral solution',
       'Chewable/dispersible tablet',
       'Delayed-release capsules - blister', 'Tablet - blister',
       'Tablet - FDC + blister', 'Tablet - FDC + co-blister',
       'Tablet - FDC', 'Oral solution', 'Injection',
       'Delayed-release capsules', 'Chewable/dispersible tablet - FDC',
       'Oral powder'], dtype=object)

In [34]:
df['Unit of Measure (Per Pack)'].isna().sum()

0

In [35]:
df['Line Item Quantity'].isna().sum()

0

In [36]:
df['Line Item Value'].isna().sum()

0

In [37]:
df['Pack Price'].isna().sum()

0

In [38]:
df['Unit Price'].isna().sum()

0

In [39]:
df['Manufacturing Site'].nunique()

60

In [40]:
df['Manufacturing Site'].value_counts()

Manufacturing Site
Aurobindo Unit III, India                                                   2978
Mylan (formerly Matrix) Nashik                                              1407
Hetero Unit III Hyderabad IN                                                 868
Cipla, Goa, India                                                            624
Strides, Bangalore, India.                                                   528
ABBVIE Ludwigshafen Germany                                                  350
ABBVIE (Abbott) Logis. UK                                                    204
BMS Meymac, France                                                           129
Aspen-OSD, Port Elizabeth, SA                                                125
MSD, Haarlem, NL                                                             117
Aurobindo Unit VII, IN                                                       111
Emcure Plot No.P-2, I.T-B.T. Park, Phase II, MIDC, Hinjwadi, Pune, India      56
Janssen-Cilag, Latina, IT                                                     54
Micro labs, Verna, Goa, India                                                 53
GSK Mississauga (Canada)                                                      52
Cipla, Kurkumbh, India                                                        49
Hetero, Jadcherla, unit 5, IN                                                 44
Cipla, Patalganga, India                                                      40
GSK Ware (UK)                                                                 37
Roche Basel                                                                   34
Bristol-Myers Squibb Anagni IT                                                25
Mylan,  H-12 & H-13, India                                                    23
Ranbaxy, Paonta Shahib, India                                                 21
ABBVIE (Abbott) France                                                        20
GSK Cape Town Factory (South Africa)                                          19
MSD Midrand, J'burg, SA                                                       17
Cipla Ltd A-42 MIDC Mahar. IN                                                 17
BMS Evansville, US                                                            16
Gilead(Nycomed) Oranienburg DE                                                16
Boehringer Ing., Koropi, GR                                                   13
GSK Aranda                                                                    12
Roche Madrid                                                                  11
Ranbaxy per Shasun Pharma                                                      9
Micro Labs, Hosur, India                                                       7
Macleods Daman Plant INDIA                                                     7
Novartis Pharma Suffern, USA                                                   7
BI, Ingelheim, Germany                                                         6
Boehringer Ingelheim Roxane US                                                 6
GSK Crawley                                                                    5
Novartis Pharma AG, Switzerland                                                5
Micro Labs Ltd. (Brown & Burk), India                                          4
Ipca Dadra/Nagar Haveli IN                                                     4
GSK, U1, Poznan, Poland                                                        3
ABBVIE (Abbott) St. P'burg USA                                                 3
Ranbaxy per Shasun Pharma Ltd                                                  2
Medopharm Malur Factory, INDIA                                                 2
Janssen Ortho LLC, Puerto Rico                                                 2
MSD Elkton USA                                                                 2
MSD Patheon, Canada                                                            2
Guilin OSD site, No 17, China                                                  2
Mepro Pharm Wadhwan Unit II                                                    1
GSK Barnard Castle UK                                                          1
Gland Pharma, Hyderabad, IN                                                    1
ABBVIE Labs North Chicago US                                                   1
Remedica, Limassol, Cyprus                                                     1
Gland Pharma Ltd Pally Factory                                                 1
Medochemie Factory A, CY                                                       1
Meditab (for Cipla) Daman IN                                                   1
Weifa A.S., Hausmanngt. 6, P.O. Box 9113 GrÃ¸nland, 0133, Oslo, Norway         1
MSD Manati, Puerto Rico, (USA)                                                 1
Name: count, dtype: int64

In [41]:
df['First Line Designation'].isna().sum()

0

In [42]:
df['First Line Designation'].value_counts()

First Line Designation
Yes    5242
No     2916
Name: count, dtype: int64

In [43]:
df['Weight (Kilograms)'].nunique()

4105

In [44]:
df['Weight (Kilograms)'].value_counts()

Weight (Kilograms)
Weight Captured Separately    1311
76                              16
See DN-304 (ID#:10589)          16
6                               15
9                               15
                              ...
11646                            1
See ASN-18558 (ID#:27015)        1
16496                            1
8826                             1
1392                             1
Name: count, Length: 4105, dtype: int64

In [45]:
df['Freight Cost (USD)'].nunique()

5019

In [46]:
df['Freight Cost (USD)'].value_counts()

Freight Cost (USD)
Freight Included in Commodity Cost    1321
Invoiced Separately                    150
9736.1                                  36
6147.18                                 27
7445.8                                  16
                                      ...
14558.87                                 1
4520.66                                  1
8217.8                                   1
1637.86                                  1
See DN-4282 (ID#:83919)                  1
Name: count, Length: 5019, dtype: int64

In [56]:
to_drop = []
for i in df['Freight Cost (USD)']:
    try:
        float(i)
    except:
        to_drop.append(i)

In [57]:
to_drop

['Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3562 (ID#:960)',
 'Freight Included in Commodity Cost',
 'See ASN-3675 (ID#:1046)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-744 (ID#:1356)',
 'See ASN-781 (ID#:115)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2274 (ID#:610)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3562 (ID#:960)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-4332 (ID#:1115)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-744 (ID#:1356)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2921 (ID#:719)',
 'Freight Included in Commodity Cost',
 'See ASN-3561 (ID#:2297)',
 'See ASN-3675 (ID#:1046)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-4419 (ID#:3851)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-737 (ID#:2765)',
 'Freight Included in Commodity Cost',
 'See ASN-1231 (ID#:2947)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2023 (ID#:3094)',
 'See ASN-2336 (ID#:530)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3562 (ID#:960)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-1230 (ID#:1530)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3313 (ID#:3456)',
 'Freight Included in Commodity Cost',
 'See ASN-3561 (ID#:2297)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3635 (ID#:3745)',
 'Freight Included in Commodity Cost',
 'See ASN-3760 (ID#:5049)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-4332 (ID#:1115)',
 'See ASN-4332 (ID#:1115)',
 'See ASN-4332 (ID#:1115)',
 'Freight Included in Commodity Cost',
 'See ASN-4420 (ID#:1183)',
 'Freight Included in Commodity Cost',
 'See ASN-4488 (ID#:1213)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-990 (ID#:1502)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2335 (ID#:5796)',
 'See ASN-2336 (ID#:530)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2274 (ID#:610)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3312 (ID#:6081)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3561 (ID#:2297)',
 'See ASN-3628 (ID#:2399)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3635 (ID#:3745)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-4420 (ID#:1183)',
 'See ASN-4511 (ID#:2571)',
 'See ASN-781 (ID#:115)',
 'Freight Included in Commodity Cost',
 'See ASN-2277 (ID#:5793)',
 'See ASN-2335 (ID#:5796)',
 'See ASN-2336 (ID#:530)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2809 (ID#:1955)',
 'See ASN-2792 (ID#:5936)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3853 (ID#:4824)',
 'See ASN-4381 (ID#:4949)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-4332 (ID#:1115)',
 'See ASN-3984 (ID#:2499)',
 'See ASN-4419 (ID#:3851)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-737 (ID#:2765)',
 'See ASN-1329 (ID#:6896)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2017 (ID#:5701)',
 'See ASN-2335 (ID#:5796)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2106 (ID#:9841)',
 'Freight Included in Commodity Cost',
 'See ASN-2515 (ID#:4635)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-2921 (ID#:719)',
 'See ASN-3313 (ID#:3456)',
 'See ASN-3853 (ID#:4824)',
 'See ASN-3561 (ID#:2297)',
 'See ASN-3562 (ID#:960)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See ASN-3760 (ID#:5049)',
 'See ASN-3760 (ID#:5049)',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'Freight Included in Commodity Cost',
 'See DN-373 (ID#:10623)',
 'See DN-373 (ID#:10623)',
 'See DN-373 (ID#:10623)',
 'See DN-445 (ID#:10640)',
 'See DN-909 (ID#:10727)',
 'See DN-1237 (ID#:10767)',
 'Invoiced Separately',
 'See DN-1458 (ID#:10795)',
 'Invoiced Separately',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-373 (ID#:10623)',
 'See DN-373 (ID#:10623)',
 'See DN-373 (ID#:10623)',
 'See DN-426 (ID#:10633)',
 'See DN-488 (ID#:10652)',
 'See DN-628 (ID#:10654)',
 'See DN-628 (ID#:10654)',
 'See DN-479 (ID#:10647)',
 'See DN-557 (ID#:10663)',
 'See DN-709 (ID#:10945)',
 'See DN-826 (ID#:10674)',
 'See DN-743 (ID#:10683)',
 'See DN-718 (ID#:10968)',
 'See DN-687 (ID#:10697)',
 'See DN-813 (ID#:10979)',
 'Freight Included in Commodity Cost',
 'See DN-1100 (ID#:11005)',
 'See DN-1100 (ID#:11005)',
 'See DN-917 (ID#:10745)',
 'See DN-944 (ID#:11012)',
 'Freight Included in Commodity Cost',
 'Invoiced Separately',
 'Invoiced Separately',
 'See DN-1235 (ID#:10769)',
 'See DN-1296 (ID#:10779)',
 'See DN-1373 (ID#:11062)',
 'See DN-1401 (ID#:10793)',
 'Invoiced Separately',
 'Invoiced Separately',
 'Invoiced Separately',
 'Freight Included in Commodity Cost',
 'See DN-304 (ID#:10589)',
 'See DN-362 (ID#:10600)',
 'See DN-605 (ID#:10636)',
 'See DN-435 (ID#:10908)',
 'See DN-440 (ID#:11200)',
 'See DN-445 (ID#:10640)',
 'Invoiced Separately',
 'See DN-475 (ID#:10642)',
 'See DN-475 (ID#:10642)',
 'See DN-535 (ID#:10658)',
 'See DN-614 (ID#:11219)',
 'See DN-556 (ID#:10662)',
 'See DN-826 (ID#:10674)',
 'See DN-800 (ID#:10953)',
 'See DN-800 (ID#:10953)',
 'See DN-744 (ID#:10684)',
 'See DN-698 (ID#:10970)',
 'See DN-687 (ID#:10697)',
 'See DN-730 (ID#:11260)',
 'See DN-690 (ID#:10706)',
 'See DN-897 (ID#:10722)',
 'See DN-990 (ID#:11001)',
 'See DN-1052 (ID#:10737)',
 'See DN-1100 (ID#:11005)',
 'See DN-944 (ID#:11012)',
 'See DN-1058 (ID#:11015)',
 'Invoiced Separately',
 'See DN-1231 (ID#:11044)',
 'See DN-1232 (ID#:10766)',
 'Invoiced Separately',
 'See DN-1235 (ID#:10769)',
 'Freight Included in Commodity Cost',
 'See DN-1250 (ID#:10774)',
 'See DN-1250 (ID#:10774)',
 'See DN-1315 (ID#:10781)',
 'See DN-1335 (ID#:11338)',
 'Freight Included in Commodity Cost',
 'See DN-1395 (ID#:11350)',
 'Invoiced Separately',
 'See DN-282 (ID#:11144)',
 'See DN-298 (ID#:10863)',
 'See DN-344 (ID#:11173)',
 'See DN-373 (ID#:10623)',
 'See DN-401 (ID#:11474)',
 'See DN-411 (ID#:10631)',
 'See DN-426 (ID#:10633)',
 'See DN-609 (ID#:11480)',
 'See DN-434 (ID#:11483)',
 'See DN-451 (ID#:11205)',
 'See DN-475 (ID#:10642)',
 'See DN-475 (ID#:10642)',
 'See DN-535 (ID#:10658)',
 'See DN-421 (ID#:10919)',
 'See DN-623 (ID#:10925)',
 'See DN-479 (ID#:10647)',
 'See DN-559 (ID#:10940)',
 'See DN-692 (ID#:11233)',
 'See DN-800 (ID#:10953)',
 'See DN-836 (ID#:11244)',
 'See DN-480 (ID#:10693)',
 'See DN-718 (ID#:10968)',
 'See DN-690 (ID#:10706)',
 'See DN-813 (ID#:10979)',
 'See DN-823 (ID#:11271)',
 'See DN-1008 (ID#:11570)',
 'See DN-1008 (ID#:11570)',
 'See DN-900 (ID#:11284)',
 'See DN-953 (ID#:11585)',
 'See DN-948 (ID#:10994)',
 'See DN-968 (ID#:11289)',
 'See DN-969 (ID#:11593)',
 'See DN-1034 (ID#:10732)',
 'See DN-850 (ID#:10733)',
 'See DN-1052 (ID#:10737)',
 'See DN-1084 (ID#:11295)',
 'See DN-1052 (ID#:10737)',
 'See DN-1052 (ID#:10737)',
 'See DN-944 (ID#:11012)',
 'See DN-1059 (ID#:11016)',
 'See DN-986 (ID#:10748)',
 'See DN-933 (ID#:10755)',
 'See DN-1205 (ID#:11314)',
 'See DN-1209 (ID#:10763)',
 'See DN-1231 (ID#:11044)',
 'See DN-1235 (ID#:10769)',
 'See DN-1235 (ID#:10769)',
 'See DN-1280 (ID#:10776)',
 'See DN-1287 (ID#:11055)',
 'See DN-1289 (ID#:11332)',
 'See DN-1315 (ID#:10781)',
 'See DN-1382 (ID#:10788)',
 'See DN-1387 (ID#:11674)',
 'See DN-1470 (ID#:10798)',
 'See DN-1487 (ID#:11073)',
 'See DN-1488 (ID#:11074)',
 'See DN-269 (ID#:11738)',
 'See DN-258 (ID#:11425)',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-379 (ID#:10890)',
 'See DN-426 (ID#:10633)',
 'See DN-426 (ID#:10633)',
 'See DN-422 (ID#:10634)',
 'See DN-434 (ID#:11483)',
 'See DN-434 (ID#:11483)',
 'See DN-434 (ID#:11483)',
 'See DN-535 (ID#:10658)',
 'See DN-488 (ID#:10652)',
 'See DN-489 (ID#:11516)',
 'See DN-535 (ID#:10658)',
 'See DN-569 (ID#:11224)',
 'See DN-550 (ID#:11846)',
 'See DN-559 (ID#:10940)',
 'See DN-581 (ID#:10667)',
 'Invoiced Separately',
 'See DN-604 (ID#:11527)',
 'See DN-604 (ID#:11527)',
 'See DN-685 (ID#:11234)',
 'See DN-823 (ID#:11271)',
 'See DN-737 (ID#:11533)',
 'See DN-761 (ID#:10951)',
 'See DN-673 (ID#:10682)',
 'See DN-800 (ID#:10953)',
 'See DN-744 (ID#:10684)',
 'See DN-834 (ID#:10686)',
 'See DN-733 (ID#:10688)',
 'See DN-734 (ID#:10689)',
 'See DN-770 (ID#:10959)',
 'See DN-797 (ID#:10966)',
 'See DN-698 (ID#:10970)',
 'See DN-634 (ID#:10972)',
 'See DN-690 (ID#:10706)',
 'See DN-946 (ID#:10983)',
 'See DN-1015 (ID#:11561)',
 'See DN-998 (ID#:11568)',
 'See DN-859 (ID#:11907)',
 'See DN-1105 (ID#:11303)',
 'See DN-909 (ID#:10727)',
 'See DN-1034 (ID#:10732)',
 'See DN-917 (ID#:10745)',
 'See DN-917 (ID#:10745)',
 'See DN-917 (ID#:10745)',
 'See DN-944 (ID#:11012)',
 'See DN-944 (ID#:11012)',
 'See DN-945 (ID#:11018)',
 'See DN-945 (ID#:11018)',
 'See DN-1060 (ID#:11618)',
 'See DN-960 (ID#:11945)',
 'See DN-960 (ID#:11945)',
 'See DN-1124 (ID#:11620)',
 'See DN-988 (ID#:11022)',
 'Invoiced Separately',
 'Invoiced Separately',
 'See DN-933 (ID#:10755)',
 'See DN-1163 (ID#:11030)',
 'Invoiced Separately',
 'See DN-1193 (ID#:11312)',
 'See DN-1221 (ID#:11636)',
 'See DN-1231 (ID#:11044)',
 'See DN-1238 (ID#:11046)',
 'See DN-1238 (ID#:11046)',
 'See DN-1176 (ID#:11973)',
 'See DN-1244 (ID#:11048)',
 'See DN-1250 (ID#:10774)',
 'See DN-1261 (ID#:11647)',
 'See DN-1289 (ID#:11332)',
 'See DN-1303 (ID#:11661)',
 'See DN-1373 (ID#:11062)',
 'See DN-1386 (ID#:11673)',
 'See DN-1398 (ID#:11679)',
 'See DN-1411 (ID#:11352)',
 'See DN-1422 (ID#:11682)',
 'See DN-1427 (ID#:11683)',
 'See DN-1466 (ID#:11357)',
 'See DN-1487 (ID#:11073)',
 'See DN-247 (ID#:11139)',
 'See DN-265 (ID#:10580)',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-304 (ID#:10589)',
 'See DN-355 (ID#:11787)',
 'See DN-423 (ID#:11194)',
 'See DN-424 (ID#:10905)',
 'See DN-458 (ID#:11814)',
 'See DN-442 (ID#:11202)',
 'See DN-445 (ID#:10640)',
 'See DN-475 (ID#:10642)',
 'See DN-475 (ID#:10642)',
 'See DN-478 (ID#:10645)',
 'See DN-601 (ID#:10651)',
 'See DN-601 (ID#:10651)',
 'See DN-488 (ID#:10652)',
 'See DN-488 (ID#:10652)',
 'See DN-489 (ID#:11516)',
 'See DN-614 (ID#:11219)',
 'See DN-445 (ID#:10640)',
 'See DN-717 (ID#:11858)',
 'See DN-756 (ID#:11866)',
 'See DN-742 (ID#:11537)',
 'See DN-833 (ID#:11243)',
 'See DN-834 (ID#:10686)',
 'See DN-839 (ID#:10961)',
 'See DN-840 (ID#:12179)',
 'See DN-840 (ID#:12179)',
 'See DN-841 (ID#:11540)',
 'See DN-682 (ID#:10963)',
 'See DN-682 (ID#:10963)',
 'See DN-682 (ID#:10963)',
 'See DN-718 (ID#:10968)',
 'See DN-810 (ID#:11257)',
 'See DN-698 (ID#:10970)',
 'See DN-729 (ID#:11895)',
 'See DN-703 (ID#:11263)',

In [58]:
df= df[df['Freight Cost (USD)'].isin(to_drop)==False]

In [59]:
df.shape

(4582, 29)

In [61]:
df['Freight Cost (USD)'].value_counts

<bound method IndexOpsMixin.value_counts of 22        4193.49
23        1767.38
29       12237.61
32        2282.57
33        2149.05
           ...
10305    28277.42
10306      1653.9
10310     3785.72
10315       26180
10316        3410
Name: Freight Cost (USD), Length: 4582, dtype: object>

In [62]:
df.shape

(4582, 29)

In [63]:
df[df.columns[28:38]].info()

<class 'pandas.core.frame.DataFrame'>
Index: 4582 entries, 22 to 10316
Data columns (total 1 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Line Item Insurance (USD)  4582 non-null   float64
dtypes: float64(1)
memory usage: 71.6 KB

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4582 entries, 22 to 10316
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Project Code                  4582 non-null   object
 1   PQ #                          4582 non-null   object
 2   Country                       4582 non-null   object
 3   Managed By                    4582 non-null   object
 4   Fulfill Via                   4582 non-null   object
 5   Vendor INCO Term              4582 non-null   object
 6   Shipment Mode                 4582 non-null   object
 7   PQ First Sent to Client Date  4582 non-null   object
 8   Scheduled Delivery Date       4582 non-null   object
 9   Delivered to Client Date      4582 non-null   object
 10  Delivery Recorded Date        4582 non-null   object
 11  Product Group                 4582 non-null   object
 12  Sub Classification            4582 non-null   object
 13  Vendor                        4582 non-null   object
 14  Item Description              4582 non-null   object
 15  Molecule/Test Type            4582 non-null   object
 16  Brand                         4582 non-null   object
 17  Dosage                        4582 non-null   object
 18  Dosage Form                   4582 non-null   object
 19  Unit of Measure (Per Pack)    4582 non-null   int64
 20  Line Item Quantity            4582 non-null   int64
 21  Line Item Value               4582 non-null   float64
 22  Pack Price                    4582 non-null   float64
 23  Unit Price                    4582 non-null   float64
 24  Manufacturing Site            4582 non-null   object
 25  First Line Designation        4582 non-null   object
 26  Weight (Kilograms)            4582 non-null   object
 27  Freight Cost (USD)            4582 non-null   object
 28  Line Item Insurance (USD)     4582 non-null   float64
dtypes: float64(4), int64(2), object(23)
memory usage: 1.0+ MB